
.portfolios-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.portfolio-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-item {
  width: 40%; 
  margin: 1%; 
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

button {
  color: #ffffff;
  border: none;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
}


  