/* portfolios.component.css */

.portfolios-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
  }
  
  .portfolio-section {
    width: 100%; /* Full width for the text section */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add margin between text and portfolios */
  }
  
  .portfolio-item {
    width: 40%; /* Set width to 48% for two items in a row */
    margin: 1%; /* Add a small margin */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 10px; /* Add some margin between text and button */
  }
  
  button {
    color: #ffffff; /* Set text color to white */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Add padding for better appearance */
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer on hover */
  }
  
  
  