<div class="add-portfolio-container" data-testid="update-portfolio-container">
    <h2 data-testid="update-portfolio-heading">Update Portfolio</h2>
    <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()" data-testid="update-portfolio-form">
        <div class="form-group">
            <label for="ownerName">Owner Name:</label>
            <input type="text" formControlName="ownerName" id="ownerName" data-testid="ownerName-input">
        </div>
        <div class="form-group">
            <label for="bankName">Bank Name:</label>
            <input type="text" formControlName="bankName" id="bankName" data-testid="bankName-input">
        </div>
        <div class="form-group">
            <label for="bankBalance">Bank Balance:</label>
            <input type="number" formControlName="bankBalance" id="bankBalance" data-testid="bankBalance-input">
        </div>
        <div class="form-group">
            <label for="riskTolerance">Risk Tolerance:</label>
            <input type="number" formControlName="riskTolerance" id="riskTolerance" data-testid="riskTolerance-input">
        </div>
        <div class="form-group">
            <label for="investmentStrategy">Investment Strategy:</label>
            <input type="text" formControlName="investmentStrategy" id="investmentStrategy" data-testid="investmentStrategy-input">
        </div>
        <button type="submit" mat-raised-button color="primary" class="center-button" data-testid="update-portfolio-button">Update Portfolio</button>
    </form>
</div>
