<div class="add-stock-container" data-testid="add-stock-container">
  <h2 data-testid="stock-heading">Add Stock</h2>
  <form [formGroup]="stockForm" (ngSubmit)="submitStock()" data-testid="stock-form">
    <div class="form-group">
      <label for="symbol">Symbol:</label>
      <input type="text" formControlName="symbol" id="symbol" data-testid="symbol-input">
    </div>
    <div class="form-group">
      <label for="company">Company:</label>
      <input type="text" formControlName="company" id="company" data-testid="company-input">
    </div>
    <div class="form-group">
      <label for="currentPrice">Current Price:</label>
      <input type="number" formControlName="currentPrice" id="currentPrice" data-testid="currentPrice-input">
    </div>
    <div class="form-group">
      <label for="logoUrl">Logo URL:</label>
      <input type="file" formControlName="logoUrl" id="logoUrl" accept="image/*" (change)="onFileSelected($event)" data-testid="logoUrl-input">
    </div>
    <button type="submit" mat-raised-button color="primary" class="center-button" data-testid="add-stock-button">Add Stock</button>
  </form>
</div>
